@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1b1b1b;
}

.text-center {
  text-align: center;
}

/* Flexbox */
.flex {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-left {
  align-items: flex-start;
}

.flex-justify-start {
  justify-content: flex-start !important;
}

.flex-justify-left {
  justify-content: flex-start;
}

.flex-align-right {
  align-items: flex-end;
}

.flex-justify-right {
  justify-content: flex-end;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.flex-basis-75 {
  flex-basis: 75%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-33 {
  flex-basis: 33.33%;
}

.flex-basis-25 {
  flex-basis: 25%;
}

.flex-gap-10 {
  gap: 10px;
}

.flex-gap-20 {
  gap: 20px;
}

/* Borders */
.border {
  border: 1px solid #e6e6e6;
}

.border-top {
  border-top: 1px solid #e6e6e6;
}

.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.border-left {
  border-left: 1px solid #e6e6e6;
}

.border-right {
  border-right: 1px solid #e6e6e6;
}

/* Position */
.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

/* Width */
.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-33 {
  width: 33.33%;
}

.width-25 {
  width: 25%;
}

/* Margin */
.margin-top-0 {
  margin-top: 0;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-top-1 {
  margin-top: 1px;
}

.margin-right-1 {
  margin-right: 1px;
}

.margin-bottom-1 {
  margin-bottom: 1px;
}

.margin-left-1 {
  margin-left: 1px;
}

.margin-top-2 {
  margin-top: 3px;
}

.margin-right-2 {
  margin-right: 3px;
}

.margin-bottom-2 {
  margin-bottom: 3px;
}

.margin-left-2 {
  margin-left: 3px;
}

.margin-top-3 {
  margin-top: 20px;
}

.margin-right-3 {
  margin-right: 20px;
}

.margin-bottom-3 {
  margin-bottom: 20px;
}

.margin-left-3 {
  margin-left: 20px;
}

/* Background Colors */
.bg-primary {
  background-color: #4f26cb;
}

.bg-text {
  background-color: #19191a;
}

.bg-success {
  background-color: #6cc052;
}

.bg-danger {
  background-color: #e64d4d;
}

.bg-warning {
  background-color: #f9a825;
}

.bg-info {
  background-color: #3da4ff;
}

li {
  list-style: none;
}

.navbar {
  top: 0;
  width: 100%;
  z-index: 3;
  margin-bottom: 10px;
  padding: 20px 30px;
}

header img {
  width: 180px;
  height: 130px;
}

.logo-text {
  font-size: 30px;
  color: #dc2200;
}

a {
  text-decoration: none;
  color: #e93209;
  opacity: 0.7;
}

.nav-list li {
  height: 40px;
}

.nav-list li:hover {
  border-bottom: 2px solid rgba(230, 77, 77, 0.6);
}

.vid-img {
  width: 100%;
  height: 230px;
  border-radius: 8px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #1b1b1b;
  flex-basis: 160px;
  width: 160px;
  background-color: #000;
  border-radius: 8px;
  transition: all;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.movie:hover {
  box-shadow: 0 0 15px #000;
  transform: scale(1.05);
  border: 1px solid #c83c3c;
}

.movie button {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  background-color: rgb(255 255 255);
  font-weight: 600;
  border-radius: 8px;
}

.movie button:hover {
  cursor: pointer;
  background-color: #dc2900;
  color: #f4f4f4;
}

.title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.likes {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.likes-count {
  color: #c50000;
}

.likes i:hover {
  cursor: pointer;
}

.hide {
  display: none !important;
}

/* Footer */
.footer-wrapper {
  padding: 20px;
  border-top: 1px solid #000;
  margin-top: 50px;
  background-color: #000;
}

.footer-wrapper p {
  color: #fff;
}

/* Movie Modal */

#movie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.653);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding-top: 2%;
}

.modal-content {
  position: fixed;
  right: 10px;
  top: 10px;
}

.mod-padding-wrap {
  padding: 20px;
}

.modal-wrapper {
  width: 45%;
  height: 100%;
  background-color: rgb(48, 47, 47);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 82px rgb(0 0 0);
  overflow: scroll;
}

.mod-img-wrapper {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.modal-wrapper h3 {
  color: #fff;
}

.stats p {
  color: rgb(25, 165, 74);
}

.close-modal {
  width: 25px;
  height: 25px;
}

#modal-movie-img {
  height: 300px;
}

#modal-movie-description p {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  text-align: justify;
}

#modal-movie-title {
  color: rgb(255, 255, 255);
}

input.add-comment {
  padding: 10px;
  border: 1px solid #969696;
  border-radius: 8px;
  width: 50%;
}

textarea.add-comment {
  border: 1px solid #969696;
  border-radius: 8px;
  width: 50%;
  padding: 10px;
}

button.add-comment {
  padding: 10px;
  width: 100px;
  background-color: #429446;
  border: 0;
  border-radius: 8px;
  color: #fff;
}

/* Alert */
.alert {
  border: 0;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
}

.alert-success {
  background-color: #6cc052;
}

.alert-error {
  background-color: #e64d4d;
}

#comments-container {
  background: #e2e4e6;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 2px;
}

#comments-container p {
  text-align: justify;
  font-size: 13px;
}

.bi-heart-fill {
  color: #fff;
  opacity: 0.6;
}

.text-primary {
  color: #ff2f00;
}

.lg-hide {
  display: none !important;
}

/* Mobile Screen */

@media screen and (max-width: 768px) {
  .m-hide {
    display: none !important;
  }

  #show-more-btn {
    background-color: #dc2900;
    padding: 10px 30px;
    border: 0;
    border-radius: 8px;
    color: #fff;
  }

  .lg-hide {
    display: flex !important;
  }

  .navbar {
    flex-direction: column;
  }

  .modal-wrapper {
    width: 90%;
  }
}
